@charset "utf-8";

.searchField {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.searchField .MuiFormControl-fullWidth {
  width: auto;
  min-width: 100px;
}

.searchField .MuiFormControl-fullWidth .MuiInputBase-root {
  height: 40px;
}

.top {
  background-color: rgba(255, 255, 255, 80%);
  display: flex;
}

.css-jpln7h-MuiTabs-scroller .MuiTabs-indicator {
  width: 0;
}