@charset "utf-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1, h2, h3, h4, h5, h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl, dt, dd,
ol, ul, li,
fieldset,
form,
label,
legend,
table,
caption,
tbody, tfoot, thead,
tr, th, td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer, header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'BM JUA_TTF';
  vertical-align: baseline
}

*, ::after, ::before {
  box-sizing: border-box;
}

* {
  font-family: 'BM JUA_TTF';
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.searchField {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.searchField .MuiFormControl-fullWidth {
  width: auto;
  min-width: 100px;
}

.searchField .MuiFormControl-fullWidth .MuiInputBase-root {
  height: 40px;
}

.login_Btn_Group {
  display: flex;
  align-items: center;

}

.login_Btn {
  background: none;
  border: none;
  height: 20px;
  cursor: pointer;
  font-size: 16px;
}

.mainLogo {
  cursor: pointer;
}

.menuList span {
  font-family: 'BM JUA_TTF' ;
}

.topView {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  font-weight: 400;
  z-index: 999;
  opacity: 80%;
}

.top {
  margin-bottom: 10px;
}

.tab_indicator {
  position: absolute;
  border-bottom: 2px solid #75c9ba;
}

.tab {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 60px;
  color: #000;
}

.linkTab {
  padding: 5px
}

.linkTab:link {
  color: #000;
}

.linkTab:visited {
  color: #000;
}

.tab .linkTab:hover {
  color: #75c9ba;
  font-weight: 600;
}

.tab_Img {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  width: 1024px;
  height: 700px;
  border-radius: 0 5px 5px 0;
}

.caroImg {
  width: 100%;
}

.SlideImgBtn_root {
  position: absolute;
  display: flex;
  align-self: end;
  margin-bottom: 10px;
  align-items: center;
}

.tag_ImgBtn {
  height: 12px;
  margin: 0 3px;
  background-color: #FFFFFF;
  opacity: 0.4;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  z-index: 999;
}

.tag_ImgBtn:hover {
  opacity: 1;
}

/* 회원가입 */
.regist_Root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.regist_Root .regist_Frm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #aaa;
  width: 960px;
  height: 1800px;
  border-radius: 30px;
  margin: 80px 0 280px 0;
  left: 40%;
  box-shadow: rgba(0, 0, 0, 0.65) 0 2px 20px;
}

.regist_Frm .regist_margin {
  margin-top: 50px;
}

.regist_margin .regist_sort {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
}

.regist_margin .sort_root {
  width: 475px;
  height: 59px;
  display: flex;
  align-items: center;
  border: 1px solid #CCCCCC;
  margin-top: 10px;
  padding: 0 24px 0 17px;
}

.sort_root .sub_img {
  width: 35px;
  height: 30px;
}

.sort_root .sort_field {
  width: 350px;
  height: 52px;
  border: 0;
  margin: 0 12px;
  padding: 1px 2px;
  outline: none;
}
.sort_field_mobile {
  width: 160px;
  height: 52px;
  border: 1px solid #CCCCCC;
  margin: 0 12px;
  padding: 1px 2px;
  outline: none;
}
.sort_root .sort_btn {
  width: 50px;
  height: 50px;
  border: 0;
  background: none;
}

.sort_btn .sort_img {
  width: 40px;
  height: 40px;
}

.regist_margin .sort_root_address {
  width: 475px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.sort_root_address .address_div {
  display: flex;
  margin-top: 10px;
}

.sort_root_address .zipCode {
  width: 100px;
  height: 59px;
  border: 1px solid #cccccc;
  margin: 0 12px 0 0;
  padding: 1px 5px;
  outline: none;
}

.sort_root_address .address_input {
  width: 475px;
  height: 59px;
  border: 1px solid #cccccc;
  margin: 0 12px 0 0;
  padding: 1px 5px;
  outline: none;
}

.address_btn {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 50px;
  padding: 0;

}
.check {
  color: skyblue;
}

.worning {
  color: red;
}

.gen {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  height: 50px;
  width: 50px;
}

.gen_btn {
  position: absolute;
  font-size: 17px;
  color: #333333;
  background-color: #FFFFFF;
  /*pointer-events: none;*/
  border: 1px solid #CCCCCC;
  cursor: pointer;
  padding: .375rem .75rem;
  border-radius: .25rem;
  line-height: 1.5;
  font-weight: 400;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.gen_select {
  background-color: #75c9ba;
  color: #FFFFFF;
}

.menu_root span{
  font-weight: 600;
}

.login_Btn_Icon {
  box-shadow: rgba(0, 0, 0, 0.35) 0 2px 5px;
  width: 60px;
  height: 60px;
  background-color: #75c9ba;
  border-radius: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
}

.login_Text {
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin-top: 50px;
}

.member_Btn_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  width: 450px;
}